@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Cinzel", serif;
  background-color: #1a1a1a;
}

.theme-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #1a1a1a, #4d4d4d, #1a1a1a),
    url("/noise-01.jpeg");
  background-size: cover; /* Ensures both the gradient and texture fill the screen */
  background-blend-mode: multiply; /* Blends the texture with the gradient */
  background-repeat: repeat-x;
}

/* Optional: Centered content styling */
.theme-wrapper h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.logo-text {
  font-family: "Cinzel", serif;
  color: #e4e2dd;
}
